.projectSwiper {
    height: 100%;
    width: 100%;
    transition: transform 0.3s linear;
    @media (max-width: 994px) {
        height: 100%;
        width: 100%;
    }
}

.swiper-button-next:after,
.swiper-container-rtl .swiper-button-prev:after {}

.swiper-button-prev:after,
.swiper-container-rtl .swiper-button-next:after {}

.swiper-button-disabled {
    display: none;
}