.swiper-button-next:after,
.swiper-container-rtl .swiper-button-prev:after {
    color: rgb(205, 41, 90);
}

.swiper-button-prev:after,
.swiper-container-rtl .swiper-button-next:after {
    color: rgb(205, 41, 90);
}

.swiper-pagination-bullet-active {
    background: rgb(205, 41, 90);
}

@media (min-width: 743px) {
    .swiper-container {
        display: none;
    }
}