@media (min-width: 994px) {
    .menuBtn,
    .closeBtn {
        display: none;
    }
}

.menuBtn {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 30px;
    height: 30px;
    transition: all 300ms cubic-bezier(.61, .01, .42, 1);
    cursor: pointer;
    background: transparent;
    border: 0px;
    z-index: 100;
}

.menuBtn div {
    height: 0px;
    border: 1.5px solid #000;
    width: 22px;
    display: block;
    position: absolute;
    transition: all 300ms cubic-bezier(.61, .01, .42, 1);
    background: #000;
}

.closeBtn {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 30px;
    height: 30px;
    transition: all 300ms cubic-bezier(.61, .01, .42, 1);
    cursor: pointer;
    background: transparent;
    border: 0px;
    z-index: 100;
}

.closeBtn div {
    height: 0px;
    border: 1.5px solid #000;
    width: 22px;
    display: block;
    position: absolute;
    transition: all 300ms cubic-bezier(.61, .01, .42, 1);
    background: #000;
}


/* .menuBtn:hover {
    transition-delay: 100ms;
    transform: scale(1.1);
} */

.menuBtn div:nth-child(1) {
    top: 0px;
}

.menuBtn div:nth-child(2) {
    top: 8px;
}

.menuBtn div:nth-child(3) {
    top: 16px;
}

.menuBtn div:nth-child(3):before {
    opacity: 0;
    animation: ball 1.5s linear infinite;
    content: '';
    border: 2px solid #000;
    display: block;
    position: relative;
    top: 0.25px;
}

.closeBtn:hover div:nth-child(3):before,
.closeBtn div:nth-child(3):before,
.closeBtn div:nth-child(2) {
    opacity: 0;
    transition: all 200ms;
}

.closeBtn div {
    border: 1.5px solid #000;
    height: 0px;
    border-radius: 0%;
    margin-left: -1px;
    margin-top: 8px;
    animation: division 300ms linear 1;
    width: 25px;
    top: 0px;
}

.closeBtn div:nth-child(2) {
    width: 0px;
}

.closeBtn div:nth-child(3) {
    transform: rotate(45deg);
}

.closeBtn div:nth-child(1) {
    transform: rotate(-45deg);
}

@keyframes atom {
    0% {
        transform: rotate(180deg);
    }
}

@keyframes division {
    0% {
        transform: rotate(180deg);
    }
}

@keyframes ball {
    0% {
        left: -20%;
        top: 10%;
    }
    10% {
        left: 10%;
        top: -35%;
    }
    25% {
        left: 45%;
        top: -50%;
    }
    40% {
        left: 80%;
        top: -20%;
    }
    50% {
        left: 98%;
        top: 18%;
    }
    60% {
        left: 80%;
        top: 50%;
    }
    75% {
        left: 45%;
        top: 80%;
    }
    90% {
        left: 0%;
        top: 60%;
    }
    100% {
        left: -20%;
        top: 10%;
    }
}