.Title {
    font-size: 4rem;
    font-weight: 600;
    white-space: nowrap;
}

.Typewriter {
    font-size: 5rem;
    font-weight: 600;
    color: rgba(20, 20, 20, 0.7);
    white-space: nowrap;
}

@media (min-width: 540px) and (max-width: 994px) {
    .Title,
    .Typewriter {
        font-size: 2rem;
    }
}

@media (max-width: 540px) {
    .Title,
    .Typewriter {
        font-size: 1.3rem;
    }
}

.Subcolor {
    color: #81c2ff;
}