.Title {
    font-size: 4rem;
    font-weight: 600;
    white-space: nowrap;
}

.Typewriter {
    font-size: 4rem;
    font-weight: 600;
    color: rgba(20, 20, 20, 0.7);
    white-space: nowrap;
}

@media (min-width: 540px) and (max-width: 994px) {
    .Title,
    .Typewriter {
        font-size: 2.5rem;
    }
}

@media (min-width: 360px) and (max-width: 540px) {
    .Title,
    .Typewriter {
        font-size: 1.7rem;
    }
}
@media (max-width: 360px) {
    .Title,
    .Typewriter {
        font-size: 1.2rem;
    }
}
.Subcolor {
    color: rgb(120, 166, 164);
}

.arrowBtnImg {
    animation-duration: 1s;
    animation-name: scaleImg;
    animation-iteration-count: infinite;
}

@keyframes scaleImg {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1);
    }
}
